<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/ejs.css">
    <title>Overview</title>
</head>
<body>
    <div class="container">
        <h1>Exercise Has Been Logged</h1>
        <h2>Here's the overview...</h2>
        <h3>Duration: <%= data.duration %> mins</h3>
        <h3>Intensity: <%= data.intensity %> / 10</h3>
        <h3>Calories Burned: <%= data.calories %> cals</h3>
    </div>
</body>
</html>